<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->
   <servlet>
      <servlet-name>TwitterSearchServlet</servlet-name>
      <servlet-class>com.cobalt.edu.twitter.TwitterSearchServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DbModelServlet</servlet-name>
      <servlet-class>com.cobalt.edu.twitter.DbModelServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>TwitterScoreServlet</servlet-name>
      <servlet-class>com.cobalt.edu.twitter.TwitterScoreServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>DbMakeServlet</servlet-name>
      <servlet-class>com.cobalt.edu.twitter.DbMakeServlet</servlet-class>
   </servlet> 
   <servlet>
      <servlet-name>DbEditorServlet</servlet-name>
      <servlet-class>com.cobalt.edu.twitter.DbEditorServlet</servlet-class>
   </servlet>  
   
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
   
   <servlet-mapping>
      <servlet-name>TwitterScoreServlet</servlet-name>
      <url-pattern>/TwitterScoreServlet/*</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
      <servlet-name>DbModelServlet</servlet-name>
      <url-pattern>/DbModelServlet/*</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>DbEditorServlet</servlet-name>
      <url-pattern>/DbEditorServlet/*</url-pattern>
   </servlet-mapping>
	
 <servlet-mapping>
      <servlet-name>TwitterSearchServlet</servlet-name>
      <url-pattern>/TwitterSearchServlet/*</url-pattern>
   </servlet-mapping> 
   
   <servlet-mapping>
      <servlet-name>DbMakeServlet</servlet-name>
      <url-pattern>/DbMakeServlet/*</url-pattern>
   </servlet-mapping>
   
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>
</web-app>
